@import "../../utils/variables.scss";

.form-cover{
  width: 100%;
  height: 100vh;
  position: relative;

  #logo{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 50px;
    color: #4285F4;
    text-transform: capitalize;
    margin: 0;
    padding: 18px 0 50px;
    #sub-logo{
      color:black;
      text-transform:lowercase;
    }
  }

  .form {
    z-index: 15;
    position: relative;
    background: $white;
    width: $max-width;
    border-radius: 4px;
    box-shadow: 0 0 30px rgba($black, 0.1);
    box-sizing: border-box;
    // margin: 100px auto 10px;
    overflow: hidden;
    animation: none .5s;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  
    // Toggle
    &-toggle {
      z-index: 10;
      position: absolute;
      top: 60px;
      right: 60px;
      background: $white;
      width: 60px;
      height: 60px;
      border-radius: 100%;
      transform-origin: center;
      transform: translate(0, -25%) scale(0);
      opacity: 0;
      cursor: pointer;
      transition: all 0.3s ease;
  
      &:before,
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 30px;
        height: 4px;
        background: $accent;
        transform: translate(-50%, -50%);
      }
  
      &:before {
        transform: translate(-50%, -50%) rotate(45deg);
      }
  
      &:after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
  
      &.visible {
        transform: translate(0, -25%) scale(1);
        opacity: 1;
      }
    }
  }
}

