@import "../../utils/variables.scss";

.form-header {
  margin: 0 0 40px;

  .header {
    padding: 4px 0;
    color: $gray;
    font-size: 24px;
    font-weight: $bold;
    text-transform: uppercase;
  }
}
