@import "../../../utils/variables.scss";

.weight-manage{
    .input-group{
        font-size: 1rem;
        width: 60%;
        .input-group-text{
            font-weight: $bold;
            background-color: transparent;
            border: none;
        }
    }

    @media only screen and (max-width: 992px) {
        .input-group{
          font-size: 0.8rem;
          width: 100%;
          .form-control{
            font-size: 0.8rem;
            width: 100%;
          }
        }
      }
    
    .react-datepicker-wrapper{
      display: block;
    }
    .date-group{
      margin: 0 0 20px;
      .date-label {
        text-align: left;
        display: block;
        margin: 0 0 10px;
        color: $gray;
        font-size: 12px;
        font-weight: $semibold;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 0.2em;
      }
      .date-picker{
        outline: none;
        display: block;
        background: rgba($black, 0.1);
        width: 100%;
        border: 0;
        border-radius: 4px;
        box-sizing: border-box;
        padding: 12px 20px;
        color: $gray;
        font-family: inherit;
        font-size: inherit;
        font-weight: $semibold;
        line-height: inherit;
        transition: 0.3s ease;
    
        &:focus {
          color: $dark-gray;
        }
      }
    }

}